* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	list-style: none;	
}
body {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
header{
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	padding: 8px;
}
.containerHeader__blockOne{
	width: 100vw;
	height: 20vh;
	display: flex;
	justify-content: space-between;
	padding: 12px;
}
.containerHeader__logo{
	width: 60px;
	height: 60px;
	margin-left: 20px;
}
.menu-hamburguer{
	display: none;
}
#hamburguer{
	display: none;
}
.containerHeader__menu{
	width: 35vw;
	height: 20vh;
	display: flex;
	justify-content: space-around;
	background-color:transparent;
	margin-right: 500px;
}
.containerHeader__menuLink{
	font-size: 18px;
	color: #BC503B;
}
.containerHeader__aquarela{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.containerHeader__text{
	width: 35%;
	height: 35%;
	display: flex;
	justify-content: center;
	font-weight: 900;
	font-size: 35px;
	text-transform: uppercase;
	color: #939393;
}
.containerHeader__photo{
	height: 720px;
	background-color: transparent;
}
@media (max-width: 768px){
	.containerHeader__logo{
		width: 55px;
		height: 55px;
	}
	.menu-hamburguer{
	font-size: 40px;
	display: none;
	}
	.containerHeader__menu{
		margin-right: 260px;
	}
	.containerHeader__menuLink{
		font-size: 16px; 
	}
	.containerHeader__photo{
		height: 630px;
	}
	.containerHeader__text{
		height: 85%;
		font-size: 45px;
	}
}
@media(max-width: 604px){
	.containerHeader__menu{
		display: none;
	}
	.menu-hamburguer{
		width: 30px;
		height: 30px;
		display: block;
		margin-top: -9px;
	}
	.containerHeader__photo{
		height: 440px;
	}
	.containerHeader__text{
		width: 75%;
		height: 10%;
		font-size: 30px;
		text-align: center;
	}
		.containerHeader__aquarela{
		display: flex;
		flex-direction: column-reverse;
	}
}
@media(max-width: 425px){
	.containerHeader__logo{
		width: 45px;
		height: 45px;
		margin: 0;
	}
	.containerHeader__menu{
		display: none;
	}
	.menu-hamburguer{
		width: 30px;
		height: 30px;
		display: block;
		margin-top: -9px;
	}
	.containerHeader__photo{
		height: 435px;
	}
	.containerHeader__text{
		width: 75%;
		font-size: 30px;
		text-align: center;
	}
	.containerHeader__aquarela{
		display: flex;
		flex-direction: column-reverse;
	}
}
main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.containerLove{
	width: 100%;
	height: 71vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EFF6F8;
}

.containerLove__blockfirst {
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.containerLove__img {
	height: 470px;
}
.containerLove__blocksecond {
	width: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.containerLove__paragrafo {
	width: 300px;
	text-align: center;
	font-size: 16px;
}
.containerObjetivos {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
}
.containerObjetivos__blockfirst {
	width: 30vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.containerObjetivos__photos {
	height: 190px;
}
.containerObjetivos__blocksecond {
	width: 65vw;
	height: 90vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 80px;
}
.containerObjetivos__title {
	width: 40vw;
	font-size: 25px;
	color: #D63727;
	margin-top: 30px;
}
.containerObjetivos__table {
	width: 575px;
}
.containerProdutos {
	width: 100%;
	height: 56vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #EFF6F8; 
}
.containerProdutos__blockfirst {
	width: 70%;
	height: 55vh;
}
.containerProdutos__img {
	height: 370px;
}
.containerProdutos__blockList {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
.containerProdutos__paragrafo {
	width: 16vw;
	font-size: 18px;
	color: #3E4D4F;
}
li {
	font-size: 18px;
	font-weight: bold;
	color: #3E4D4F;
}
@media (max-width: 768px) {
	.containerLove {
		height: 135vh;
		flex-direction: column;
	}
	.containerLove__blocksecond {
		margin-top: 10px;
	}
	.containerObjetivos {
		height: 96vh;
	}
	.containerObjetivos__blockfirst {
		width: 100%;
		height: 35vh;
		flex-direction: row;
	}
	.containerObjetivos__blocksecond {
		width: 100%;
		height: 55vh;
		margin: 0;
	}
	.containerObjetivos__title {
		width: 65%;
		text-align: center;
		font-size: 18px;
		margin: 0;
	}
	.containerObjetivos__table {
    	width: 520px;
	}
	.containerProdutos {
		width: 100%;
		height: 60vh;
	}
	.containerProdutos__img {
		height: 302px;
	}
	.containerProdutos__paragrafo {
		font-size: 14px;
	}
	li {
		font-size: 14px;
	}
}
@media (max-width: 604px) {
	.containerObjetivos__photos {
		height: 140px;
	}
	.containerObjetivos__table {
    	width: 460px;
    }
	.containerProdutos{
		height: 60vh;
		flex-direction: column;
	}
	.containerProdutos__blockfirst {
	    width: 50%;
	    height: 30vh;
	}
	.containerProdutos__img {
    	height: 160px;
	}
	.containerProdutos__paragrafo {
	    width: 30vw;
	    font-size: 13px;
	}
	li {
    	font-size: 13px;
	}
}
@media (max-width: 425px) {
	.containerLove__img {
		height: 360px;
	}
	.containerObjetivos {
		height: 55vh;
	}
	.containerObjetivos__blockfirst {
		height: 20vh;
	}
	.containerObjetivos__photos {
		height: 110px;
	}
	.containerObjetivos__blocksecond {
		height: 35vh;
	}
	.containerObjetivos__title {
		width: 80%;
		font-size: 10px;
	}
	.containerObjetivos__table {
		width: 350px;
	}
}
